body{
  background-color: #f2f2f2;

}
div.content{
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
}
a.btn{
  color:white;
  margin-bottom:2%;
}
#preview {


  margin-bottom: 3%;
	height:100%;
  width:100%;
	border:black solid;
}

div.modal-content {
  background-color: yellowgreen;
  font-style: italic;
   font-size: 100%;
  color: white;
}
