body{
  background-color: #f2f2f2;
  
}
#contact{
  color:black;
}
#titulo{

  color:black;
  font-size: small;
  padding-top: 100px;
}
.form-horizontal{
  background-color:#e6e6e6;
}
#btnPublicar{
  color:white;
  background-color: yellowgreen;
}
.header {
    background-color: yellowgreen;
    color: white;

    font-size: 27px;
    padding: 10px;
}
div#form.container{
  margin-top: 50px;


}
