		#header{
			background-image:url("ladelicia-sombra.png");
			background-color: rgba(255,255,255, 0.5);
			background-repeat: no-repeat;
			background-position:bottom right;
			padding-bottom:50px;
			
		}
		
			
		body{
			<!--font-family:Verdana;-->
			font-size: 100%;
			font-family:Georgia;
			line-height :1.75 em;
			margin-left:15%;
			margin-right:15%;
			background:url("ladelicia.png");
			background-repeat: no-repeat;
			background-color:#d2dc9d;
			background-position: center;
			background-attachment: fixed;
		}
		<!--h1{
			font-family: 'Marko One', serif;
			font-size: 1.09 em;
		}-->
		
		p,dl{
			font-size: 0.875 em;
		}
		
		dt{
			font-weight: bold;
		}
		
		strong{
			font-style: italic;
		}
		
		.nuevo {
			color:maroon;
		}
		
		#info{
			<!--font-family:teal;-->
			
		}
		
		p#lugar{
			font-style: italic;
			color:gray;
		}
		
		span.price{
			font-family:Georgia;
			color:gray;
		}
		
		.label{
			font-weight: bold;
			font-style: normal;
			font-variant: small-caps
		}
		
		.warning{
			color:red;
			FONT-SIZE: x-small
		}
		
		h2{
			text-align: center;
			color:purple;
			text-transform:uppercase;
			letter-spacing:0.5 em
		}
		
		div#appetizers p{
			text-align: center;
			font-style: italic;
		}
		
		div#entrees p{
			text-align: center;
			font-style: italic;
		}
		
		dt{
			color:sienna;
		}
		
		h1{
			text-shadow: .1em .1em .2em lightslategray;
		}
		
		ul {
			list-style-image:none;
			list-style-position:outside;
			list-style-type:none;
			margin:0 px;
			padding:0 ;
			
		}
		
		
		a:link {text-decoration:none;color:#939;} 
		a:visited {text-decoration:none;color:#937393 ;} 
		a:hover {text-decoration:none;color:#c700f2;background-color:white;opacity:none ;} 